.boncoLogin{
    background-color: #fff;
    height: 400px;
    width: 250px;
    border-radius: 20px;
    padding: 4%;
    /* margin: 10% 40%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.boncoLogin img{
    margin: 0% 0% 10% 25%;
    height: 50%;
    width: 50%;
    margin-top: 5%;
}
button{
    height: 40px;
    width: 250px;
    background-image: linear-gradient(to right, rgb(167, 167, 167) , rgb(56, 56, 56));
    border: none;
    border-radius: 20px;
    color: white;
    font-family: "Comic Sans MS", Comic Sans, cursive;
}
/* @media only screen and (max-width: 600px) {
    .boncoLogin{
        margin: 10% 7%;
        height: 90%;
        width: 80%;
    }
    .boncoLogin img{
        margin: 10% 0% 0% 25%;
        height: 30%;
        width: 30%;
    }
} */
::placeholder {
    color: #555555;
}
input{
    font-size:15px;
    border: 2px solid #555555;
    border-radius: 4px;
    Height: 30px;
    width: 250PX;
}
.Login{
    text-align: center;
    
}
html{
    background-color: #f0f0f0;
}