<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='css/style.css'>
    <script src='main.js'></script>

</head>

<body>
    <div class="blocoLogin">
        <form >
            <img src="/imagens/logo.png">
            <br>
            <label>Login</label>
            <input type="text" name="login">
            <br><br>
            <label>Senha</label>
            <input type="password" name="senha">
            <br><br>
            <button>Logar</button>
        </form>
        
        <br>
        <a href="/cadastro"><button>Cadastrar</button></a>
        <!-- <button ><a href="/cadastro">Cadastrar</a></button> -->
    </div>
</body>

</html>